html {
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.heading {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.heading .trash-icon {
  font-size: 1.5rem;
  padding: 1.5rem;
  cursor: pointer;
}

.heading .trash-icon:hover {
  color: red;
}

.heading > .title {
  margin: auto;
  display: flex;
  align-items: baseline;
}

.title svg {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.top-pane {
  display: flex;
  background-color: rgb(89, 100, 97);
  padding: 2px;
  flex: 1 1 50%;
}

.bottom-pane {
  flex: 1 1 50%;
}

.bottom-pane iframe {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./font/Roboto-Regular.ttf) format("truetype");
}
