.pane.top-pane {
  display: flex;
  background-color: rgb(89, 100, 97);
  padding: 2px;
  height: 50vh;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./font/Roboto-Regular.ttf) format("truetype");
}
